{{ define "main" }}
<main class="wrap">
  <div class="contact">
    <div class="contact-lede">{{ .Content }}</div>
    <div class="detail-list">
      <div class="row">
        <span class="k">Email</span>
        <span class="v"><a class="link" href="mailto:{{ site.ellabarker67@gmail.com }}">{{ site.Params.email }}</a></span>
      </div>
      <div class="row">
        <span class="k">Instagram</span>
        <span class="v"><a class="link" href="{{ site.Params.instagram }}" target="_blank" rel="noopener">{{ site.Params.instagramHandle }}</a></span>
      </div>
      <div class="row">
        <span class="k">Based in</span>
        <span class="v">{{ site.Params.location }}</span>
      </div>
    </div>
  </div>
</main>
{{ end }}
